<% content_for :title do %>
  Sign In
<% end %>

<h1>Please Sign In</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
	Email
	<%= f.text_field :email %><br />
	Password
	<%= f.password_field :password %><br /> 
	<%= f.submit 'Login' %> 
<% end %>

<br /><br />

New User? <%= link_to "Sign Up Now!", new_user_path %>

<br /><br />



