<%= form_for(@user) do |f| %>

	<div style="float: left; padding-right: 5em;">

	<%= render 'shared/error_messages', :object => f.object %>

	<%= raw("<h2>" + "Login Information" + "</h2>") if context == "edit"  %>  
	<%= f.label :email %> 
	<%= "(Required)" if context == "edit"  %>
	<br /> 
	<%= f.text_field :email %><br />


   <%= f.label :password %>, 6 characters minimum
   <%= "(Required)" if context == "edit"  %>
   <br />	
	<%= f.password_field :password %><br />


	<%= f.label :password_confirmation, "Confirm Password" %>
	<%= "(Required)" if context == "edit"  %>
	<br />
	<%= f.password_field :password_confirmation %><br />
	
	<% if true || signed_in_as_admin %>

		<%= f.label :admin %> 
		<%= f.check_box :admin %><br />
	
	<% end %>
	
	</div> 
	<% if context == "edit"  %>
		<div style="float: left">
		<%= raw("<h2>" + "Optional Information" + "</h2>") if context == "edit"  %>
			<%= f.label :first_name %><br />
			<%= f.text_field :first_name %><br />
		
			<%= f.label :last_name %><br />
			<%= f.text_field :last_name %><br />
		
		   <%= f.label :phone %><br />
			<%= f.text_field :phone %><br />
		
		   <%= f.label :city %><br />
			<%= f.text_field :city %><br />
		
		   <%= f.label :postal_code %><br />
			<%= f.text_field :postal_code, :size => 7 %><br />
			
		   <%= f.label :province %><br />
		   <%= f.collection_select :province_id, @provinces, :id, :name, :prompt => "Select Province / State" %>
		
		    <br />
		</div> 
	 <% end %>
	 
   <div style="float: left; padding-top: 10em; padding-left: 5em; ">
				<%= f.submit "Save" %>
				<%= submit_tag "Cancel", { :name => "user[Cancel]" } %>
   </div> 
  <div class="clearfloat"></div>
 
<% end %>
 