<% content_for :title do %>
  Users
<% end %>

<table width="100%">
 <tr class="tableheader">
   <th>&nbsp;</th>
	<th align='left' >Email <%= link_to "+New", new_user_url, {:title => "Add a new user"} %></th>
   <th>Role</th>
   <th>ID</th>
   <th>Joined</th>
   <th>Items</th> 
   <th> </th>
   <th>Last</th>
   <th>First </th>
   <th>City</th>
   <th>Province / State</th>
</tr>
<% counter = 0 %>
<% for u in @users %>
<tr>
	<td><%= counter = counter + 1 %>.</td>
	<td><%= link_to u.email, {:controller=>"users", :action=>"show", :id=>u.id},{:title => "Show User"} %>
		 <%= "** me **" if current_user.id == u.id %>  	
	</td>
	<td><%= "admin" if u.isadmin == true %> </td>
   <td align='right' ><%= u.id.to_s %></td>
   <td align='center' ><%= u.created_at.strftime("%b %e, %Y") %></td>
   <td align='center' ><%= num_items(u.id) %></td>
	<td><%= button_to "Delete", {:action => "destroy", :controller => "users", :id =>u.id}, 
	        :confirm => "Are you sure?", :method => :delete %>
   </td>
	<td><%= u.last_name.nil? ? "" :  u.last_name.truncate(20, :omission =>"...") %></td>
	<td><%= u.first_name.nil? ? "" :  u.first_name.truncate(20, :omission =>"...") %></td>
	<td><%= u.city.nil?  ? "" :  u.city.truncate(20, :omission =>"...") %></td>
   <td><%= u.province_id ? Province.find( u.province_id).name : "" %> </td>
</tr>
<% end %>
</table>
<br />
