

<table width="100%">
 <tr class="tableheader">
   <th>&nbsp;</th>
	<th>Item <%= link_to "+New", new_item_url, {:title => "Add a new item"} %></th>
	 <%= raw("<th>Owner</th>") if @show_owner %>
   <th>&nbsp;</th>
	<th>What is it</th>
	<th>Where is it</th>
   <th>Its a type of</th>
   <th></th>

</tr>

<% counter = 0 %>
<% for i in @items %>
 	<tr>
 
	<td><%= counter = counter + 1 %>.
	
	<% if @show_owner && (@current_user.id == i.user_id) %>
	 		<%= image_tag "red-check.gif" %> 
 	<% end %>
 	
	</td>
	<td><%= link_to i.name, {:controller=>"items", :action=>"edit", :id=>i.id},{:title => "Edit Item"} %></td>
	
   <% if @show_owner %>
   
	   <td align='left'>
	          <%= link_to i.email.truncate(15, :omission =>"..."), {:controller=>"users", :action=>"edit", :id=>i.user_id},{:title => "Edit User"} %>
    	</td>
    
   <% end %> 
      
 
	<td><%= button_to "Delete", {:action => "destroy", :id =>i.id}, 
	        :confirm => "Are you sure?", :method => :delete %>
   </td>
	<td><%= i.description.truncate(20, :omission =>"...") %></td>
	<td><%= i.location.truncate(15, :omission =>"...") %></td>
   <td><%= i.category_id ? Category.find( i.category_id).name : "" %> </td>
   <td><%= i.ownership_id ? Ownership.find( i.ownership_id).name : "" %> </td>
</tr>
<% end %>
</table>
<br />
<% if @show_owner %>
	<%= image_tag "red-check.gif" %>my inventory
<% end %> 