

<h1>New Item</h1>

<%= form_for(@item) do |f| %>

<%= render 'shared/item_error_messages' %>

<%= f.label :name %><br />
<%= f.text_field :name %><br />

<%= f.label :description %><br />
<%= f.text_field :description %><br />

<%= f.label :location %><br />
<%= f.text_field :location %><br />

<%= f.label :category %><br />
<%= f.collection_select :category_id, @categories, :id, :name, :prompt => "Select Category" %>
<br />

<%= f.label :ownership %><br />
<%= f.collection_select :ownership_id, @ownerships, :id, :name, :prompt => "Select Ownership Status" %>
<br />
<br />
<%= f.submit "Save Item" %><br /><br />

<%= f.hidden_field :user_id %>
<% end %>
