<!-- views items show.html.erb 
  -- instance vars: @item, @items_like_mine
  -- local vars: messages, new_message
  -- methods:  i.find_message_in_thread, message.new_message 
  -- helpers:  link_to_prev/next_item 
  -- partials: uses 4 
  --------------------------->

<% content_for :title do %>
  <%= @item.name %> 
<% end %>

<h1>
	<%= link_to_prev_item(@item) %>
	<%= @item.name %>
	<%= link_to_next_item(@item) %>
</h1> 



<%= render 'items/shared/show_item'  %>

<% if @items_like_mine.nil? == false %>

	<% for i in @items_like_mine %>

	   <div class="list"> 
	         <%= render 'items/shared/show_item_brief', :object => i %>
				 
		      <% @messages = @item.find_messages_in_thread(i) %> 

		 		<% for m in @messages %>
		 		      <%= render 'messages/shared/show_message', :object => m %>
		 		<% end %>		 

		   	<% new_message = Message.new_message(@item, i) %> 
		  	   
				<%= render 'messages/shared/new_message', :object => new_message %>
				 
		</div> 

	<% end %>
<% end %> 
