
<div id="bottom_menu" class="menu">
			<%= link_to "About", about_url %>  
			<%= link_to "Contact", contact_url %>
			<% if signed_in_as_admin %>
							<%= link_to "Items", items_url %>
							<%= link_to "Users", users_url %>
							<%= link_to "Categories", categories_url %>
							<%= link_to "Provinces and States", provinces_url %>
				
			<% end %> 
</div>

  
