<div id="top_menu" class="menu">
				<% if signed_in? %>
					<%= link_to "My Inventory", items_url %>
					<%= link_to "Messages", messages_url %>
					<%= link_to "Help", help_url %>			
			   	<%= link_to current_user.email, edit_user_url(@current_user.id) %>
					<%= link_to "Sign Out ", signout_path, :method => :delete %> 
			   <% else %>
					<span class="deadlink">My Inventory<span> 
					<%= link_to "Sign In ", signin_path %> 
					<%= link_to "Sign Up ", signup_path %> 
	     		<% end %> 
</div>