<!DOCTYPE html>
<html>
<head>
  <title>Inventory1</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>
	
	<div><%= yield %></div>

	<%= render 'layouts/footer' %>

	<% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>  
	<% end %>

	<% if Rails.env.development? %>	
			<div id="debug" ><%= debug(params) %></div> 
	<% end %>

</body>
</html>
